* {
    font-family: 'Righteous', cursive;

    margin: 0px;

    list-style: none;
    text-decoration: none;

    padding: 0;
    margin: 0;
}

body {
    background-image: url(../Multimedia/spaceStarBarkloop1000x600.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    touch-action: none;

    display: block;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: #81B437;
}

header {
    position: sticky;
    width: 100%;
    display: flex;
}

header nav {
    background: linear-gradient(270deg, #C4EF86 0%, rgba(169, 202, 120, 0) 100%);
    width: 100%;

    align-items: center;
}

nav ul {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;

}

nav ul li {
    display: flex;
}

.btn {
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #73D340;
    border-color: #464A44;
    border-style: inset;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    border-radius: 10px;

    font-size: 18px;
    color: #131412;
    letter-spacing: 2px;

    width: 180px;
    margin: 15px;
    padding: 3px;
}

.btn:hover {
    background-color: #AAE283;
    border-color: #464A44;
    border-style: outset;

    font-style: oblique;
    color: #051a0f;
    letter-spacing: 3px;
}

.headerElements {
    width: max-content;

    margin: 5px 15px;
    padding: 10px 15px;
    border-style: solid;
    border-color: #464A44;

    display: none;
    /* Los botones de funcionalidad para usuarios registrados quedan ocultos */
}

.btn-showScore {
    display: flex;
}

.btn-login {
    margin-left: auto;

    right: 1%;
}

.btn-login-rigth {
    margin-right: 2px;
}

#log-out {
    display: none;
}

.conteiner-sesionStart {
    display: none;
    align-items: center;
    flex-direction: column;

    margin-top: 40px;
}

.sesionStart {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #81B437;
    width: auto;
    height: max-content;
    border: 6px double #000;
    border-radius: 10px;

    position: relative;
    flex-direction: column;

    z-index: 20;
}

.login {
    font-size: 18px;
    display: inline-block;
    margin: 8px;

}

.login-inputs {

    width: 80%;
    margin: 0% 4%;
    border-radius: 0.625em;
    border-style: outset;
}

.checkbox {
    margin: 1% 2%;
    width: 20px;
    height: 20px;
}

.check-conteiner {
    display: flex;
    align-items: center;
}

.conteiner-singUp {
    display: flex;
    align-items: center;
}

.btn-singUp {
    display: none;
}

#login-button {
    background-color: rgb(14, 151, 82);
    border: 1px solid;
    -webkit-border-radius: .375em;
    border-radius: 0.625em;

}

.conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.score {
    margin-top: 4px;
    color: #81B437;
    position: absolute;
    letter-spacing: 4px;

}

.game {
    position: absolute;
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    margin-top: 40px;
}

.canvasGame {
    position: flex;
    display: flex;
    border: 1px solid black;
}

.globalScore {
    display: none;
    position: absolute;
    z-index: 40;
    background-color: #81B437;

    margin-top: 103px;
    top: 0px;
    right: 1%;


    border: 4px double #000;
    width: 28%;
    margin-left: auto;

}

.globalScore .playerName {
    text-align: left;
}

.globalScore .number {
    text-align: center;
}


table {
    /* border-collapse: collapse; */
    width: 100%;
    color: #000;
}

td th {
    padding: 8px;
}

.conteinerSnakes-display-none {
    display: none;
    flex-direction: column;

    background: #81B437;
    width: auto;
    height: auto;
    border: 2px solid #464A44;
    border-radius: 20px;
    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #329419 22.05%, #5e7758 100%);
}

.cards-conteiner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    height: auto;
    width: auto;
    margin: 2% 2%;

}

.card {
    width: 215px;
    height: 10%;
    margin: 15px 10px;
    border: 10px solid #2D6314;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.card:hover {
    margin: 15px 10px;
    transform: scale(1.05, 1.05);
    filter: drop-shadow(5px 5px 5px #21351d86);
}

.card-clicked {
    border-style: ridge;
    border-color: #74ad57;
    margin: 0px 10px;
    transform: scale(1, 1);
    filter: drop-shadow(5px 5px 5px #21351d86);
}

.card-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.card .atributes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}

.card-title {
    margin: 10px 0px;
}

.card .snake-img {
    margin: 0px 10px;
    border-radius: 20px;
}

.card .atributes .rows {
    display: block;
    margin-left: 10px;
    width: 100%;
}


.button-conteiner {
    padding: 0.35%;
    background: linear-gradient(270deg, #C4EF86 0%, rgba(169, 202, 120, 0) 100%);
    border-radius: 10px;
    width: 98%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    margin: 1%;
}

#selectSnake-button {
    display: flex;
    margin: 0%;
}